version: 2.1

parameters:
  run_monthly_testing:
    type: boolean
    default: false

executors:
  linux:
    machine:
      image: ubuntu-2204:current
    environment:
      RUNNER_OS: linux
    resource_class: large
  macos-arm:
    macos:
      xcode: 16.4.0
    environment:
      RUNNER_OS: macos
    resource_class: m4pro.medium
  windows:
    machine:
      image: windows-server-2022-gui:current
    environment:
      RUNNER_OS: windows
    resource_class: windows.large

jobs:
  r-build:
    parameters:
      os:
        type: executor
      r-version:
        type: string
    executor: << parameters.os >>
    environment:
      ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS: 2
    steps:
      - checkout
      - run:
          name: Set library for default R package installation
          command: |
            # All packages will be installed into the directory
            # referenced by the R_LIBS environment variable.
            mkdir -p $HOME/Rlibs
            ls -la ${R_LIBS}
            echo "export R_LIBS=$HOME/Rlibs" >> $BASH_ENV
      - run:
          name: Install R << parameters.r-version >>
          command: |
            R_VERSION="<< parameters.r-version >>"
            # Install rig, R Installation Manager (https://github.com/r-lib/rig) to control installed R version
            if [ "$RUNNER_OS" == "macos" ]; then
              brew tap r-lib/rig
              brew install --cask rig
              rig add $R_VERSION
            elif [ "$RUNNER_OS" == "linux" ]; then
              `which sudo` curl -L https://rig.r-pkg.org/deb/rig.gpg -o /etc/apt/trusted.gpg.d/rig.gpg
              `which sudo` sh -c 'echo "deb http://rig.r-pkg.org/deb rig main" > /etc/apt/sources.list.d/rig.list'
              `which sudo` apt update
              `which sudo` apt install r-rig
              sudo rig add $R_VERSION
            elif [ "$RUNNER_OS" == "windows" ]; then
              choco install rig -y
              export PATH="$PATH:/c/Program Files/rig"
              rig add $R_VERSION
              echo "export PATH=\"/c/Program Files/R/R-$R_VERSION/bin:\${PATH}\"" >> $BASH_ENV
              echo "export R_HOME=\"/c/Program Files/R/R-$R_VERSION/\"" >> $BASH_ENV
            fi
      - run:
          name: System Dependencies
          command: |
            if [ "$RUNNER_OS" == "linux" ]; then
              sudo apt-get -y update
              sudo apt-get install -y cmake libcurl4-openssl-dev libssh2-1-dev libharfbuzz-dev libfribidi-dev gh
              sudo rm -rf /var/lib/apt/lists/*
            elif [ "$RUNNER_OS" == "macos" ]; then
              brew install cmake
            elif [ "$RUNNER_OS" == "windows" ]; then
              choco install rtools -y
              echo "RTOOLS_HOME=$(ls -d /c/rtools* | head -n 1)" >> $BASH_ENV
            fi
      - run:
          name: Configuration Information
          command: |
            if [ "$RUNNER_OS" == "windows" ]; then
              export PATH="${RTOOLS_HOME}/usr/bin:${RTOOLS_HOME}/x86_64-w64-mingw32.static.posix/bin:${R_HOME}/bin:${PATH}"
            fi
            echo "R_LIBS is: ${R_LIBS}"
            c++ --version || gcc --version || echo "no c++ compiler found"
            cmake --version || echo "cmake not found"
            make --version || echo "make not found"
            R --version || echo "R not found"
      - run:
          name: Install R packages
          command: |
            R -e "install.packages(c('remotes'), repo='https://cloud.r-project.org/')"
      - run:
          name: Build and test
          no_output_timeout: 30m
          command: |
            set -x
            R -e "remotes::install_git(c('.'), configure.vars=c('MAKEJ=3'))"

workflows:
  r-build-test:
    # Runs on: push to main, pull requests to main, manual trigger, and scheduled runs
    jobs:
      - r-build:
          matrix:
            parameters:
              r-version: ['4.3.1', '4.4.1']
              os: ["macos-arm", "windows"]
          filters:
            branches:
              only:
                - main
                - /pull\/.*/  # Run on all pull request branches
