version: 2.1

parameters:
  run_monthly_testing:
    type: boolean
    default: false

executors:
  linux:
    machine:
      image: ubuntu-2204:current
    environment:
      RUNNER_OS: linux
    resource_class: large
  macos-arm:
    macos:
      xcode: 16.4.0
    environment:
      RUNNER_OS: macos
    resource_class: m4pro.medium

jobs:
  r-build:
    parameters:
      os:
        type: executor
      r-version:
        type: string
    executor: << parameters.os >>
    environment:
      R_LIBS: ~/Rlibs
      ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS: 2
    steps:
      - checkout
      - run:
          name: Install R << parameters.r-version >>
          command: |
            # Install rig, R Installation Manager (https://github.com/r-lib/rig) to control installed R version
            if [ "$RUNNER_OS" == "macos" ]; then
              curl -L https://github.com/r-lib/rig/releases/download/latest/rig-macos-latest.pkg -o rig.pkg
              sudo installer -pkg rig.pkg -target /
              rm rig.pkg
              rig add << parameters.r-version >>
              rig default << parameters.r-version >>
            elif [ "$RUNNER_OS" == "linux" ]; then
              curl -L https://github.com/r-lib/rig/releases/download/latest/rig-linux-latest.tar.gz -o rig.tar.gz
              tar xzf rig.tar.gz
              sudo mv rig /usr/local/bin/
              rm rig.tar.gz
              sudo rig add << parameters.r-version >>
              sudo rig default << parameters.r-version >>
            fi
      - run:
          name: System Dependencies
          command: |
            if [ "$RUNNER_OS" == "linux" ]; then
              sudo apt-get -y update
              sudo apt-get install -y libcurl4-openssl-dev libssh2-1-dev libharfbuzz-dev libfribidi-dev gh
              sudo rm -rf /var/lib/apt/lists/*
            fi
      - run:
          name: Configuration Information
          command: |
            mkdir -p ${R_LIBS}
            c++ --version
            cmake --version || echo "cmake not found"
            which R
            R --version
      - run:
          name: Install R packages
          command: |
            R -e "install.packages(c('remotes'), lib=c('${R_LIBS}'), repo='https://cloud.r-project.org/')"
      - run:
          name: Build and test
          no_output_timeout: 30m
          command: |
            set -x
            R -e "remotes::install_git(c('.'), lib=c('${R_LIBS}'), configure.vars=c('MAKEJ=2'))"

workflows:
  r-build-test:
    # Runs on: push to main, pull requests to main, manual trigger, and scheduled runs
    jobs:
      - r-build:
          matrix:
            parameters:
              r-version: ['4.4.1']
              os: ["macos-arm"]
          filters:
            branches:
              only:
                - main
                - /pull\/.*/  # Run on all pull request branches
